.project-image{
	width: 30%;
	float:left;
}
.project-desc{
	height: 100%;
	display: flex;
	align-items: stretch;

}
.project-info{
	float:right;
	width: 70%;
	min-width: 400px;
	height: 200px;
	margin-left:10px;
	padding-left:10px;
}

.line-left{
	border-left: solid black;
}

.content-projects{
	/*background-color:brown;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.projectDetail{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.projects-list{
	width: 100%;
		display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.projCard{
	width: 85%;
}

.row-proj{
	flex-direction: row;
}